
<div class="sign-up-body">

	<div class="sign-up-container">

		<p class="signup-page-title">Sign up</p>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	 		
	 		<%= devise_error_messages! %>

		  	<div class="signup-email">
		  		<%= f.label :email %>
		  		<%= f.email_field :email, autofocus: true %>
		 	</div>

		  	<div class="signup-password">
		  		<%= f.label :password %>
		    	<%= f.password_field :password, autocomplete: "off" %>
		    </div>

		  	<div class="signup-password-confirmation">
		  		<%= f.label :password_confirmation %>
		    	<%= f.password_field :password_confirmation, autocomplete: "off" %>
		    </div>

		  	<div class="signup-submit-button">
		  		<%= f.submit "Sign up", class: "signup-submit" %>
		  	</div>
		
		<% end %>

	</div>

</div>

