<!DOCTYPE html>
<html>
	<head>
	  	<title>Bookhub</title>
	  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	  	<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="nav-bar">

			<div>					
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
			</div>

			<nav class='main-content'>

				<%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
				  	
				  	<div>
				  		<%= f.label :email %>

				  		<%= f.email_field :email %>

				  		<%= f.label :password %>

				    	<%= f.password_field :password, autocomplete: "off" %>

				    	<%= f.check_box :remember_me %> <%= f.label :remember_me %>

				  		<%= f.submit "Sign in" %>
				  	</div>

				<% end %>
					
			</nav>

		</div>

		<div class="white-space">
		</div>

		<div class="main-title">
			<p>BookHub</p>
		</div>


			<%= yield %>

	</body>
</html>
